<!DOCTYPE html>
<html>
<head>
  <title>Bookshelf</title>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>
<body>
	<div id="store">
		<div id="banner" >
			<%= @page_title || "Bookshelf" %>
		</div>
		<div id="columns">
			<div id="side" >
			<div id="cart">
				<%= render @cart%>
			</div>
				<a href="/">Home</a><br />
				<a href="/products">Products</a><br />
				<a href="/contacts" >Contact</a><br />
			</div>
			<div id="main" >
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>
